In [169]:
import pandas as pd

Прочитайте файл 2017_jun_final.csv (https://docs.google.com/spreadsheets/d/1bclX5PbqE8zR1-wOSM3ZTFa53sIC7RXqwty7Abmw9yQ/edit?gid=1724592523#gid=1724592523) за допомогою методу read_csv
Прочитайте отриману таблицю, використовуючи метод head

In [170]:

url = 'https://docs.google.com/spreadsheets/d/1bclX5PbqE8zR1-wOSM3ZTFa53sIC7RXqwty7Abmw9yQ/export?format=csv&gid=1724592523' 
df = pd.read_csv(url)

print(df.head())

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

Визначте розмір таблиці за допомогою методу shape

In [171]:
df.shape

(8704, 25)

Визначте типи всіх стовпців за допомогою dataframe.dtypes

In [172]:
df.dtypes

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [173]:
df_count_isna = df.isna().sum()

print(df_count_isna)

N                                      0
Посада                                 0
Мова програмування                  3850
Спеціалізація                       7219
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Університет                          358
Ще студент                             0
Рівень англійської                     0
Предметна область                    223
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"

In [174]:
# Залишаємо лише стовпець "Мова програмування", навіть якщо там є пропуски
columns_to_keep = ["Мова програмування"]
print(columns_to_keep)
# Видаляємо всі інші стовпці з пропусками
df_cleaned = df.dropna(axis=1, how='any').join(df[columns_to_keep])

['Мова програмування']

Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"

In [175]:
df_cleaned_count_isna = df_cleaned.isna().sum()

print(df_cleaned_count_isna)

N                                      0
Посада                                 0
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Ще студент                             0
Рівень англійської                     0
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Мова програмування                  3850
dtype: int64

Видаліть усі рядки у вихідній таблиці за допомогою методу dropna

In [176]:
df_cleaned = df_cleaned.dropna()

In [177]:
df_cleaned_count_isna = df_cleaned.isna().sum()

print(df_cleaned_count_isna)

N                                   0
Посада                              0
Загальний досвід роботи             0
Досвід роботи на поточному місці    0
Зарплата на місяць                  0
Зміна зарплати за 12 місяців        0
Місто                               0
Розмір компанії                     0
Тип компанії                        0
Стать                               0
Вік                                 0
Освіта                              0
Ще студент                          0
Рівень англійської                  0
Дата заповнення                     0
User.Agent                          0
exp                                 0
current_job_exp                     0
salary                              0
Мова програмування                  0
dtype: int64

Визначте новий розмір таблиці за допомогою методу shape

In [178]:
df_cleaned.shape

(4854, 20)

Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python

In [179]:
df_py = df_cleaned[df_cleaned['Мова програмування'] == "Python"]

print(df_py)

         N                    Посада Загальний досвід роботи  \
12      13         Software Engineer                       1
68      69         Software Engineer                     1.5
87      88  Junior Software Engineer                     0.5
114    115  Junior Software Engineer                     1.5
143    144  Junior Software Engineer                       1
...    ...                       ...                     ...
8546  8547         Software Engineer                       5
8625  8626         Software Engineer                       4
8635  8636  Senior Software Engineer       10 і більше років
8673  8674  Junior Software Engineer                     0.5
8695  8696         Software Engineer                       1

     Досвід роботи на поточному місці  Зарплата на місяць  \
12                    менше 3 місяців                 800
68                                0.5                 900
87                                0.5                 600
114                               0.5                 685
143                                 1                 750
...                               ...                 ...
8546                                1                2000
8625                                1                1750
8635                  менше 3 місяців                4000
8673                              0.5                 350
8695                              0.5                1500

      Зміна зарплати за 12 місяців      Місто   Розмір компанії  \
12                             200       Київ        до 50 осіб
68                             900       Київ        до 10 осіб
87                               0       Київ        до 10 осіб
114                            250       Київ      до 1000 осіб
143                            250       Київ        до 10 осіб
...                            ...        ...               ...
8546                           800  Запоріжжя        до 50 осіб
8625                             0       Київ  більше 1000 осіб
8635                          1300  Віддалено        до 10 осіб
8673                            50       Київ        до 50 осіб
8695                          1000       Київ        до 10 осіб

       Тип компанії     Стать  Вік        Освіта  Ще студент  \
12    Аутсорсингова  чоловіча   26          Вища       False
68          Стартап  чоловіча   21  Неповна Вища        True
87    Аутсорсингова  чоловіча   19  Неповна Вища        True
114   Аутсорсингова  чоловіча   21  Неповна Вища       False
143   Аутсорсингова  чоловіча   21  Неповна Вища        True
...             ...       ...  ...           ...         ...
8546  Аутсорсингова  чоловіча   22  Неповна Вища       False
8625  Аутсорсингова  чоловіча   28       Середня       False
8635        Стартап  чоловіча   33          Вища       False
8673  Аутсорсингова  чоловіча   22          Вища       False
8695        Стартап  чоловіча   29          Вища       False

                        Рівень англійської      Дата заповнення  \
12      Pre-intermediate (нище середнього)  12/06/2017 13:05:54
68    Upper-Intermediate (вище середнього)  12/06/2017 13:11:17
87    Upper-Intermediate (вище середнього)  12/06/2017 13:12:25
114                Intermediate (середній)  12/06/2017 13:14:52
143   Upper-Intermediate (вище середнього)  12/06/2017 13:19:10
...                                    ...                  ...
8546               Intermediate (середній)  10/07/2017 14:11:26
8625               Intermediate (середній)  11/07/2017 16:15:40
8635  Upper-Intermediate (вище середнього)  11/07/2017 17:51:36
8673               Intermediate (середній)   12/07/2017 9:37:16
8695               Intermediate (середній)  12/07/2017 14:39:21

                                             User.Agent   exp  \
12    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0
68    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5
87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5
114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5
143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
...                                                 ...   ...
8546  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8625  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0
8635  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0
8673  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0

      current_job_exp  salary Мова програмування
12                0.0     800             Python
68                0.5     900             Python
87                0.5     600             Python
114               0.5     685             Python
143               1.0     750             Python
...               ...     ...                ...
8546              1.0    2000             Python
8625              1.0    1750             Python
8635              0.0    4000             Python
8673              0.5     350             Python
8695              0.5    1500             Python

[207 rows x 20 columns]

Визначте розмір таблиці python_data за допомогою методу shape

In [180]:
df_py.shape

(207, 20)

Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"

In [181]:
df_py.groupby("Посада")

print(df_py)

         N                    Посада Загальний досвід роботи  \
12      13         Software Engineer                       1
68      69         Software Engineer                     1.5
87      88  Junior Software Engineer                     0.5
114    115  Junior Software Engineer                     1.5
143    144  Junior Software Engineer                       1
...    ...                       ...                     ...
8546  8547         Software Engineer                       5
8625  8626         Software Engineer                       4
8635  8636  Senior Software Engineer       10 і більше років
8673  8674  Junior Software Engineer                     0.5
8695  8696         Software Engineer                       1

     Досвід роботи на поточному місці  Зарплата на місяць  \
12                    менше 3 місяців                 800
68                                0.5                 900
87                                0.5                 600
114                               0.5                 685
143                                 1                 750
...                               ...                 ...
8546                                1                2000
8625                                1                1750
8635                  менше 3 місяців                4000
8673                              0.5                 350
8695                              0.5                1500

      Зміна зарплати за 12 місяців      Місто   Розмір компанії  \
12                             200       Київ        до 50 осіб
68                             900       Київ        до 10 осіб
87                               0       Київ        до 10 осіб
114                            250       Київ      до 1000 осіб
143                            250       Київ        до 10 осіб
...                            ...        ...               ...
8546                           800  Запоріжжя        до 50 осіб
8625                             0       Київ  більше 1000 осіб
8635                          1300  Віддалено        до 10 осіб
8673                            50       Київ        до 50 осіб
8695                          1000       Київ        до 10 осіб

       Тип компанії     Стать  Вік        Освіта  Ще студент  \
12    Аутсорсингова  чоловіча   26          Вища       False
68          Стартап  чоловіча   21  Неповна Вища        True
87    Аутсорсингова  чоловіча   19  Неповна Вища        True
114   Аутсорсингова  чоловіча   21  Неповна Вища       False
143   Аутсорсингова  чоловіча   21  Неповна Вища        True
...             ...       ...  ...           ...         ...
8546  Аутсорсингова  чоловіча   22  Неповна Вища       False
8625  Аутсорсингова  чоловіча   28       Середня       False
8635        Стартап  чоловіча   33          Вища       False
8673  Аутсорсингова  чоловіча   22          Вища       False
8695        Стартап  чоловіча   29          Вища       False

                        Рівень англійської      Дата заповнення  \
12      Pre-intermediate (нище середнього)  12/06/2017 13:05:54
68    Upper-Intermediate (вище середнього)  12/06/2017 13:11:17
87    Upper-Intermediate (вище середнього)  12/06/2017 13:12:25
114                Intermediate (середній)  12/06/2017 13:14:52
143   Upper-Intermediate (вище середнього)  12/06/2017 13:19:10
...                                    ...                  ...
8546               Intermediate (середній)  10/07/2017 14:11:26
8625               Intermediate (середній)  11/07/2017 16:15:40
8635  Upper-Intermediate (вище середнього)  11/07/2017 17:51:36
8673               Intermediate (середній)   12/07/2017 9:37:16
8695               Intermediate (середній)  12/07/2017 14:39:21

                                             User.Agent   exp  \
12    Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   1.0
68    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.5
87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   0.5
114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.5
143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0
...                                                 ...   ...
8546  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0
8625  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   4.0
8635  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  10.0
8673  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   0.5
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0

      current_job_exp  salary Мова програмування
12                0.0     800             Python
68                0.5     900             Python
87                0.5     600             Python
114               0.5     685             Python
143               1.0     750             Python
...               ...     ...                ...
8546              1.0    2000             Python
8625              1.0    1750             Python
8635              0.0    4000             Python
8673              0.5     350             Python
8695              0.5    1500             Python

[207 rows x 20 columns]

Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"

In [182]:
df_grouped = df_py.groupby("Посада").agg(
    min_salary=pd.NamedAgg(column='Зарплата на місяць', aggfunc='min'),
    max_salary=pd.NamedAgg(column='Зарплата на місяць', aggfunc='max')
)

print(df_grouped)

                          min_salary  max_salary
Посада
Junior Software Engineer         100        1250
Senior Software Engineer        1300        9200
Software Engineer                500        5400
System Architect                3000        5000
Technical Lead                  1425        6200

Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"

In [183]:
# Створюємо функцію для обчислення середньої зарплати
def fill_avg_salary(row):
    return (row['min_salary'] + row['max_salary']) / 2

# Додаємо новий стовпчик із середньою зарплатою
df_grouped['avg'] = df_grouped.apply(fill_avg_salary, axis=1)

print(df_grouped)

                          min_salary  max_salary     avg
Посада
Junior Software Engineer         100        1250   675.0
Senior Software Engineer        1300        9200  5250.0
Software Engineer                500        5400  2950.0
System Architect                3000        5000  4000.0
Technical Lead                  1425        6200  3812.5

Створіть описову статистику за допомогою методу describe для нового стовпчика.

In [184]:
statistics = df_grouped['avg'].describe()

print(statistics)

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg, dtype: float64

Збережіть отриману таблицю в CSV файл

In [185]:
statistics.to_csv('salary_statistics.csv', index=True, encoding='utf-8')